<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Filmomat</title>
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">

    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><h1>Wireless controls</h1></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Control</a></li>
                </ul>
            </nav>
        </header>

        <div id="content">

            <div id="controls">
                <ul>
                

                    <li>
                        <a href="/relay/1">Relay 1</a>
                    </li>
                    <li>
                        <a href="/relay/2">Relay 2</a>
                    </li>
                    <li>
                        <a href="/relay/3">Relay 3</a>
                    </li>
                    <li>
                        <a href="/relay/4">Relay 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
